/*Select ALL TEMP      **********/
*{
    border: 3px black;
}
/**********************/

/* Bandeau TOP */
header {
    background: url(./assets/banCyb.jpg) center;
    border: 1px solid red;
    display:flex;
    align-content:space-between;
    justify-content: space-between;
    color: aqua;

    height:100px;
    width:line;
}
header img {
    height: 100px;
    width: 125px;
}
header input{
    background: none;
    font-size: large;
    font-family: fantasy;
    color:hsl(231, 32%, 57%);
}
body{
    background: url(./assets/bg4k.jpg) center;
    background-repeat: no-repeat;
}

/* MAIN (NAV - WELCOME & CARDS */
main{
    display: flex;
    border: 1px solid blue;
    width: line;
}

                    /* NAV */
nav{
    border: 1px solid #050105;
    height: 750px;
    max-width: 350px;
    padding: 15px;
    margin: 0;
    display: block;
}
.imgMenu {
    height: 30px;
    width: line;

}
nav img{
    width: 10%;

}
nav h3{
    border: 1px solid greenyellow;
    width: 90%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.75rem;
    color: brown;
    margin: 0%;
}

nav ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color: chocolate;
    margin: 50px 50px;
    list-style:georgian;
    text-align:center;
    padding: 15px;

}
nav li{
    /*border: 2px solid green;*/
    margin: 15px;
    rotate: -20deg;
    margin: 30px;
    text-align: center;

    }
nav li:hover{
    transform: scale(1.2) translateX(50px) rotate(-10deg);
    color: aqua;
    font-size: 2rem;
}
                    /* Welcome */
.Welcome {
    display: inline;
    height: 100px;
    width: line;
    border: 1px solid white;
}
.Welcome h2{ 
    color: aqua;
    text-align: center;
    font-size: 3rem;
    margin: 5px;
text-shadow: 2px 3px 5px hsla(0, 51%, 62%, 0.712);
}

.Welcome h3{
    color: green;
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    margin: 0;
    text-shadow: 1px 1px 2px #ddd4d488;
}

                    /* Cartes test /*/
.boxcard {
  height: auto;
  margin: 10px;
  display: flex;
  place-items: center;
  font-family: system-ui;
  overflow: clip auto;
  padding: 10px;
}

.card {
  color: #e5e5e5;
  max-width: 500px;
  max-height: 1000px;
  border-radius: 50px;
  background: #ec8e724b;
  box-shadow: inset 0 0 4px -2px #ffffff55, 0 0 4px -2px #ffffff55;
  backdrop-filter: blur(20px);
  font-size: 1.5rem;
  font-weight: 200;
  margin: 5px;
  
}

.card img {
  margin:15px;
    max-width: 450px;
  height: 750px;
  border-radius: 40px;

}
.card h2{
    color: aqua;
    text-align: center;
    font-family: Garamond, sans-serif;
    text-shadow: 2px 3px 5px #332020;
}
.card p{
    color: #00ff37dc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 1.4rem;
    text-align: justify;
    text-shadow: -3px -1px 5px #050105;
}

.card_inner{
    position: relative;
    place-items: center;
}
/* FIN*/