/*Select ALL TEMP      **********/
*{
    border: 3px black;
}
/**********************/
body{
    background: url(./assets/bg4k.jpg) center;
    background-repeat: no-repeat;
}
/* Bandeau TOP */
.top {
    background: url(./assets/banCyb.jpg) center;
    border: 1px solid red;
    display:flex;
    align-content:space-between;
    justify-content: space-between;
    color: aqua;

    height:100px;
    width:line;
}
.top img {
    height: 100px;
    width: 125px;
}
.top input{
    background: none;
    font-size: large;
    font-family: fantasy;
    color:hsl(231, 32%, 57%);
}
nav{
    border: 1px solid #050105;
    height: 750px;
    max-width: 350px;
    padding: 15px;
    margin: 0;
}
.imgMenu {
    height: 30px;
    width: line;

}
nav img{
    width: 10%;

}
nav h3{
    border: 1px solid greenyellow;
    width: 90%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.75rem;
    color: brown;
    margin: 0%;
}

nav ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color: chocolate;
    margin: 50px 50px;
    list-style:georgian;
    text-align:center;
    padding: 15px;

}
nav li{
    /*border: 2px solid green;*/
    margin: 15px;
    rotate: -20deg;
    margin: 30px;
    text-align: center;

    }
nav li:hover{
    transform: scale(1.2) translateX(50px) rotate(-10deg);
    color: aqua;
    font-size: 2rem;

}